<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kocapplication.pixeleye.kockocapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--핸드폰 내장 데이터 읽고 쓰기-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".util.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.AdviceActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.JoinActivity"/>
        <activity android:name=".login.GetExtraInfoActivity"/>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".detail.DetailActivity"/>
        <activity android:name=".main.myKockoc.scrap.ScrapActivity"/>
        <activity android:name=".main.myKockoc.neighbor.NeighborActivity"/>
        <activity android:name=".main.myKockoc.course.CourseActivity"/>

        <activity android:name=".user.UserActivity"/>
        <activity android:name=".login.Kakao.KakaoSignupActivity"/>

        <activity android:name=".write.newWrite.NewWriteActivity"    android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".write.newWrite.map.MapActivity"     android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".write.course.CourseTitleActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".write.course.CourseWriteActivity" />

        <!-- 카카오톡 debug key -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="9b6bb8886ea6b7a8ae3e05ff6b989ea6"/>
        <!-- Gcm Service -->
        <service android:name=".util.GCM.RegistrationIntentService"
            android:exported="false"/>
        <service
            android:name=".util.GCM.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>