<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kocapplication.pixeleye.kockocapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--핸드폰 내장 데이터 읽고 쓰기-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".detail.DetailActivity"/>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".write.NewWriteActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".scrap.ScrapActivity"/>
        <activity android:name=".neighbor.NeighborActivity"/>

        <activity android:name=".write.map.MapActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- 카카오톡 debug key -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="Gn1KAuZgmPY9g9Xs4hfmqKDExEE="/>
    </application>

</manifest>